%section.grid-wrap
  %ul.grid.swipe-right#grid
    %li
      %a{href: "articles/kom.html"}
        %img{src: "img/kom/opening.jpg"}
          %h3= "Orasi's Annual Kick Off Meeting"
    %li
      %a{href: "articles/manheim.html"}
        %img{src: "img/manheim/logo.png"}
          %h3= "Project Spotlight: Manheim"
    %li
      %a{href: "articles/pineapple.html"}
        %img{src: "img/pineapple/opening.jpg"}
          %h3= "Growing Your Own Slice of Paradise"
    %li
      %a{href: "articles/preston.html"}
        %img{src: "img/preston/opening.jpg"}
          %h3= "Employee Spotlight: Preston Williamson"
    %li.title-box
      %h2
        Website by
        %a{href: 'http://www.github.com/LGordon2'} Lewis Gordon
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/357bb9"}
          %h3= "Emerging Technologies"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/BA2731"}
          %h3= "Coding Challenge: Season Two"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/BA2731"}
          %h3= "Meet the Consultants"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/ACEE43"}
          %h3= "Greensboro Charity Initiative: Second Harvest Food Bank"
    %li
      %a{href: "articles/perler.html"}
        %img{src: "img/perler/opening.jpg"}
          %h3= "Perlers and the Pixelated Art"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/E48097"}
          %h3= "Announcements"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/E48097"}
          %h3= "GSO Events"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/E48097"}
          %h3= "ATL Events"
    %li
      %a{href: "articles/test.html"}
        %img{src: "img/recipe/opening.jpg"}
          %h3= "Carrot Cake"
    %li
      %a{href: "articles/test.html"}
        %img{src: "http://placehold.it/640x480.jpg/E48097"}
          %h3= "Birthdays and Anniversaries"
