- require 'yaml'
- config = YAML.load_file('articles/articles.yml')
%section.grid-wrap
  %ul.grid.swipe-right#grid
    - config.each do |folder, value|
      %li
        %a{href: "articles/#{folder}.html"}
          - image = File.exist?("img/#{folder}/opening.jpg") ? "img/#{folder}/opening.jpg" : "http://placehold.it/640x480.jpg/357bb9"
          %img{src: image}
            %h3= value['title']
    %li.title-box
      %h2
        Website by
        %a{href: 'http://www.github.com/LGordon2'} Lewis Gordon
    %li
      %a{href: "http://ruraldirectory.orasi.com/new_rr/reader.html"}
        %img{src: "img/header-logo.png"}
          %h3= "Previous Rural Reader"
