- config = YAML.load_file('articles/articles.yml')
- i=1
%section.grid-wrap
  %ul.grid.swipe-right#grid
    %li.title-box
      %h2
        Website by
        %a{href: 'http://www.github.com/LGordon2'} Lewis Gordon
    - config.each do |folder, value|
      - if i % 7 == 0
        %li.title-box
          %h2
            Newsletter design by
            - if i == 7
              %a{href: 'http://www.orasi.com/'} Alissa Taylor
            - else
              %a{href: 'http://www.orasi.com/'} John Martin
      %li
        %a{href: "articles/#{folder}.html"}
          - image = File.exist?("img/#{folder}/opening.jpg") ? "img/#{folder}/opening.jpg" : "http://placehold.it/640x480.jpg/357bb9"
          %img{src: image}
            %h3= value['title']
          - i += 1
    %li.title-box
      %h2
        Website by
        %a{href: 'http://www.orasi.com/'} Brandon Sims
    %li
      %a{href: "http://ruraldirectory.orasi.com/new_rr/reader.html"}
        %img{src: "img/header-logo.png"}
          %h3= "Previous Rural Reader"
