- config = YAML.load_file('articles/articles.yml')
- i=1
%section.grid-wrap
  %ul.grid.swipe-right#grid
    - config.each do |folder, value|
      - next if value['hidden'] == true
      - if i == 2
        %li.title-box
          %h2
            Newsletter design by
            %a{href: 'mailto:alissa.taylor@orasi.com'} Alissa Taylor
      - elsif i == 5
        %li.title-box
          %h2
            Newsletter design by
            %a{href: 'mailto:john.martin@orasi.com'} John Martin
      - elsif i == 7
        %li.title-box
          %h2
            Photography by
            %a{href: 'mailto:adley.haywood@orasi.com'} Adley Haywood
      - elsif i == 9
        %li.title-box
          %h2
            Photography by
            %a{href: 'mailto:alissa.taylor@orasi.com'} Alissa Taylor
      %li
        %a{href: "articles/#{folder}.html"}
          - if File.exist?("img/#{folder}/opening.jpg")
            - image = "img/#{folder}/opening.jpg"
          - elsif File.exist?("img/#{folder}/opening.png")
            - image = "img/#{folder}/opening.png"
          - else
            - image = "http://placehold.it/640x480.jpg/357bb9"            
          // - image = File.exist?("img/#{folder}/opening.jpg") ? "img/#{folder}/opening.jpg" : "http://placehold.it/640x480.jpg/357bb9"
          %img{src: image, width: '100%'}
            %h3= value['title']
          - i += 1
    %li.title-box
      %h2
        Website by
        %a{href: 'mailto:damien.storm@orasi.com'} Damien Storm
    %li
      %a{href: "http://ruraldirectory.orasi.com/prev_rural_reader/2014/q4/reader.html"}
        %img{src: "img/head-logo-test.png"}
          %h3= "Previous Rural Reader"
