%p.article-text
  The coding challenge has just finished its second season, which ran from April 1st through June 30th.  A total of
  1,829 submissions were made by 26 participants in this season's challenge.  The most active participant for
  Season 2 was Stan Herring, with 310 submissions.  The season's most successful participants were Ethan Bell,
  Jock Lanier, and Jonathan Doll, each of whom had 2 wins.
#prizes.image-grid
  %img{src: "#{image_folder}/ethan.jpg"}
  %img{src: "#{image_folder}/john.jpg"}
  %img{src: "#{image_folder}/jock.jpg"}
%p.article-text
  The following consultants had 5 or more successful submissions for Season 2:  Stanley Grooms, Brandon Sims, Jonathan Doll, Jock Lanier, Kevin Munro, and Ethan Bell.
#prizes.image-grid
  %img{src: '../img/coding_challenge/carowinds.jpg'}
  %img{src: '../img/coding_challenge/parrot.jpg'}
  %img{src: '../img/coding_challenge/ps4.jpg'}
%p.article-text
  The prizes up for grabs were a PlayStation 4, a Parrot Drone, and an inclusive trip for two to either Carowinds or
  Six Flags theme parks.  Season 2 winners were announced via live webcast and were:  Erin Dodd, Brandon Sims, and Jock
  Lanier.  Congratulations to all the winners!
%h2 Participants:
.image-grid.avatar-section
  %ul#participants
    - Dir['img/coding_challenge/avatars/*.jpg'].each do |image_file|
      %li
        - first_name, last_name = File.basename(image_file).split(".").first.split('_')
        - title = "#{first_name.capitalize} #{last_name.capitalize}"
        %img.avatar{ src: "../#{image_file}", 'data-toggle' => 'tooltip', title: title }
%iframe.youtube-video{width: 738, height: 415, src: '//www.youtube.com/embed/J9GNIn7iyCk', frameborder: 0, allowfullscreen: true}