%h3 Birthdays
.image-grid.avatar-section
  %ul#birthdays
    - Dir['img/avatars/birthdays/*.jpg'].each do |image_file|
      %li
        - first_name, last_name, month, day = File.basename(image_file).split(".").first.split('_')
        - birthday = Time.new(Time.now.year,month,day)
        - title = "#{first_name.capitalize} #{last_name.capitalize}\r\n #{birthday.strftime('%B')} #{ordinalize(birthday.strftime('%e'))}"
        %img.avatar{ src: "../#{image_file}", 'data-toggle' => 'tooltip', title: title }
%h3 Anniversaries
.image-grid.avatar-section
  %ul#anniversaries
    - Dir['img/avatars/anniversaries/*.jpg'].each do |image_file|
      - first_name, last_name, year, month, day = File.basename(image_file).split(".").first.split('_')
      - title = "#{first_name.capitalize} #{last_name.capitalize} #{Time.new(year,month,day).strftime('%B %e, %Y')}"
      %li
        %img.avatar{ src: "../#{image_file}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: title }
