-# coding: UTF-8
-config = YAML.load_file(File.expand_path('../../articles/articles.yml', __FILE__))
-wrong_tail = "../articles/wrong_tail.html"
!!! 5
%html
  %head
    %title= title

    %meta{charset: "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel:'stylesheet', href: '../css/article.css', type: 'text/css'}
    %link{rel:'stylesheet', href: '../css/card.css', type: 'text/css'}
    %link{rel:'stylesheet', href: '../css/loader.css', type: 'text/css'}
    %link{rel:'stylesheet', href: '../css/normalize.css', type: 'text/css'}
    %link{rel: 'stylesheet', href:'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
    %script{src:'//code.jquery.com/jquery-1.11.0.min.js'}
    %script{src:'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
    %script{src:'../js/imagesloaded.pkgd.min.js'}
    %script{src:'../js/masonry.pkgd.min.js'}
  %body.container
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51142707-4', 'auto');
      ga('send', 'pageview');
    %a#home-link{href: '../index.html'}
      %span.glyphicon.glyphicon-home
    %a.fixed-floating-left#previous-article-btn{href: "../articles/#{prev_article}.html", "data-toggle" => "tooltip", "data-placement" => "right", title: "To #{config[prev_article]['title']}"}
      %span.glyphicon.glyphicon-chevron-left.next-article-chevron
    %a.fixed-floating-right#next-article-btn{href: "../articles/#{next_article}.html", "data-toggle" => "tooltip", "data-placement" => "left", title: "To #{config[next_article]['title']}"}
      %span.glyphicon.glyphicon-chevron-right.next-article-chevron
    %article
      %section.article-header
        %h1= title
        - if defined?(author)
          .author-section
            .avatar
              %img{src: "../#{get_avatar(author.downcase.tr_s(' ','_'))}"}
            .author-name
              %h4
                by
                %span#author-name= author
      %section.article-content
        - article_file_name = Dir["articles/content/_#{folder}_article.html*"].first
        - if File.extname(article_file_name) == 'html'
          = File.read(article_file_name)
        - else
          = Tilt.new(article_file_name).render(Object.new, image_folder: "../img/#{folder}")

        - images = (Dir["img/#{folder}/*.jpg"] - Dir["img/#{folder}/opening.jpg"] + Dir["img/#{folder}/*.gif"])
        - if images.size > 0 && !defined?(no_gallery)
          %hr/
          .image-grid.grid-section
            - images.each do |img|
              -link = "../#{img}"
              - unless File.basename(img).include?('no_gallery')
                -link = wrong_tail if img.include?('_tail')
                %a{href: "#{link}"}
                  %img{src: "../#{img}"}
                // %img{src: "../#{img}", href: "../#{img}"} 
        %script{src:'../js/article.min.js'}



