-# coding: UTF-8
-config = YAML.load_file(File.expand_path('../../articles/articles.yml', __FILE__))
!!! 5
%html
  %head
    %link{rel:'stylesheet', href: '../css/article.css', type: 'text/css'}
    %link{rel:'stylesheet', href: '../css/card.css', type: 'text/css'}
    %link{rel:'stylesheet', href: '../css/loader.css', type: 'text/css'}
    %link{rel:'stylesheet', href: '../css/normalize.css', type: 'text/css'}
    %link{rel: 'stylesheet', href:'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
    %script{src:'//code.jquery.com/jquery-1.11.0.min.js'}
    %script{src:'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
    %script{src:'../js/imagesloaded.pkgd.min.js'}
    %script{src:'../js/masonry.pkgd.min.js'}
  %body.container
    %a#home-link{href: '../index.html'}
      %span.glyphicon.glyphicon-home
    %a.fixed-floating-left#previous-article-btn{href: "../articles/#{config[prev_article]['folder']}.html", "data-toggle" => "tooltip", "data-placement" => "right", title: "To #{config[prev_article]['title']}"}
      %span.glyphicon.glyphicon-chevron-left.next-article-chevron
    %a.fixed-floating-right#next-article-btn{href: "../articles/#{config[next_article]['folder']}.html", "data-toggle" => "tooltip", "data-placement" => "left", title: "To #{config[next_article]['title']}"}
      %span.glyphicon.glyphicon-chevron-right.next-article-chevron
    %article
      %section.article-header
        %h1= title
        - if defined?(author)
          .author-section
            .avatar
              %img{src: "../img/avatars/#{author.downcase.tr_s(' ','_')}.jpg"}
            .author-name
              %h4
                by
                %span#author-name= author
      %section.article-content
        =Haml::Engine.new(File.read(File.expand_path("../../articles/content/_#{folder}_article.html.haml", __FILE__))).render
        - images = (Dir["img/#{folder}/*.jpg"] - ["img/#{folder}/opening.jpg"])
        - if images.size > 0 && !defined?(no_gallery)
          %hr/
          .image-grid.grid-section
            - images.each do |img|
              %img{src: "../#{img}"}
        %script{src:'../js/article.min.js'}



